.cardsmainpage {
    /* width: 84vw; */
    /* margin: 1rem; */
}

.cardsheader {
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px; */
    /* 0% */
    /* margin-bottom: 20px; */
}

.cardsheader1{
    color: #000;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
}

.grid1container {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #183883;
    padding: 10px 20px;
    gap: 70px;

}

.grid1mainlogo {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid1number {
    margin-top: 20px;
    margin-bottom: -15px;
}


.grid1name {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid1number {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.grid1lowerinfo {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.grid2container {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid #EEE;
    background: #FFF6E7;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    padding: 50px 40px;
    gap: 30px;

}



.mainupperboxes {
    display: flex;
    gap: 50px;
}

.mainupperbox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1text {
    text-align: center;
}

.grid2name {
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.grid1switch {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.grid3container {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 40px 20px 60px;
    gap: 20px;
    border-radius: 24px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.gridtitle {
    color: var(--main-heading-color);
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    /* 0% */
    margin: 10px 0px 20px 0px;
    /* padding: 10px 0px 10px 15px; */
}


.tableMainBox {
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
    margin-bottom: 0px;
}


.AccountStatementComponent {
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
    margin: .8rem;
}

/* .accountstatement {
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
    margin: .8rem 0;
    padding: 20px;
} */

.cardsBox {
    margin-top: 15px;
    border-radius: 2.25rem;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    min-height: 70%;
}

.cardsBox1 {
    margin-top: 15px;
    border-radius: 2.25rem;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    min-height: 80%;
}

@media screen and (max-width: 568px) {
    .cardsmainpage {
        /* width: 84vw; */
        margin: 0.2rem;
    }

    .cardsheader {
        color: #183883;
        leading-trim: both;
        text-edge: cap;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 0px;
        margin-bottom: 20px;
    }

    .mainupperboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .grid1mainlogo {
        /* width: 80px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .grid1container {
        width: 82vw;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: #183883;
        padding: 10px 20px;
        gap: 60px;

    }

    .grid1lowerinfo {
        display: flex;
        /* justify-content: space-between; */
        gap: 50px;
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .grid2container {
        width: 82vw;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        border: 1px solid #EEE;
        background: #FFF6E7;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        padding: 30px 20px;

    }


    .mainupperboxes {
        display: flex;

        gap: 60px;
    }

    .tableMainBox {
        width: 82vw;
        border-radius: 8px !important;
        background: #FFF !important;
        box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
        margin-bottom: 20px;
    }
}


.textApproval {
    display: flex;
    justify-content: space-between;
    padding: 33px 25px 15px 25px;
}

.fundsText {
    display: flex;
    justify-content: space-between;
    color: var(--Active-Link-Color, #0072DA);

    /* Subtital 1 */
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.required {
    color: #ED1C24;
}