.mainpagePayment {
    /* width: 84vw; */
    /* margin: 1rem; */
}

.accountlimitaccinfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.depositAccountInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.mainupperheader {
    /* color: #183883; */
    color: var( --main-heading-color);

    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

.mainupperheader1 {
    margin: 10px 0;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .mainlower{
        margin: 20px;
    }
     */

.tableMainBox {
    padding: 30px;
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
}

/* Policies */

.policiesheader {
    margin-bottom: 20px;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.required {
    color: #ED1C24;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.policiescheckbox>span {
    cursor: pointer;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

/* Fixed Depost Cash Certificate */
.mainBox {
    /* margin: 1rem !important; */
}

.accountsMainHeadingFlex {
    display: flex;
    justify-content: space-between !important;
}

.savingsAccount {
    color: #183883 !important;


    font-family: Inter !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 0px;
    /* 0% */
}

.savingsAccountSubHeading {
    color: #000;


    font-family: Inter !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    padding-top: 2rem;
}

.savingsAccountBalance {
    padding-left: 16rem;
    padding-top: 0rem;

    color: #000;


    font-family: Inter !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.savingsAccountBalancecColor {
    color: #183883 !important;


    font-family: Inter !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tableMainBox {


    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
}



.accountsSecondGrid {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15);

}

.iconsTypography {
    color: #000 !important;


    font-family: Inter !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

.accountsMarginGrid {
    margin: 2rem !important;
    cursor: pointer;


}

.serviceRequestLinkPadding {
    padding-top: 4.6rem !important;
}

.iconImagesPaddingType1 {
    padding-left: 9px !important;
}

.iconImagesPaddingType2 {
    padding-left: 25px !important;
}

.depositcardmain {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;

}

.depositcard {
    width: 30%;

    border-radius: var(--1, 8px);
    /* background: rgba(218, 226, 246, 0.50); */
/* background: var(--sidebar-tab-background-color); */
background: var( --body-background-color);
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.depositcardtitle {
    text-align: center;
}

.depositcardtitle1 {
    font-weight: 500;
    font-size: 18px;
}


.nodata {
    margin: 10px;
    color: var(--Primary-Color, #183883);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
}