

.mainfullpage{
    max-height: 100vh;
    /* overflow-y: scroll;  */
    height: 100vh;
  }
  
  
  .leftlogo img{
   width: 90px;
   height: 90px;
  } 
  
  .headerTitle{
   font-size: 20px;
  }
  
  .register{
   color: blue;
   text-decoration: none;
   cursor: pointer;
   
  }
  

  .loginbutton{
    color: blue;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
  }
  /* Login Container */
  
  .mainpagewithback1{
   position: relative;
   /* background-image: url('../../assets/loginBackground.png'); */
     background-image: url('../../assets/banner.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width: 100%;
   height: 100%;
   /* height: 77vh; */
   display: flex;
   /* flex-direction: column; */
   justify-content: flex-end;
   align-items: center;
   padding-right: 15px;
   padding: 30px 70px;
  }
  
  
  .required{
    color: #ED1C24;
  }
  .box{
     min-width: 300px;
   min-height: 350px;
   width: min-content;
  border-radius: 16px;
  /* background: #FFF; */
  background: #ECECEC;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 6px;
  }
  
  
.frowtextaff{
  font-size: 15px;
  font-weight: 400;
}  

  .mainfile1{
display: flex;
flex-direction: column;
gap: 25px;
  }
  .forgetpassheading{
    text-align: center;
    color: #000;

/* H5 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  .forgetpassheadtext{
    color: #000;
text-align: center;

/* LINK */
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .firsttabinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  

  
  .button{
   width: 100%;
   /* background-color: #ffffff; */
   color: #080710;
   padding: 15px 0;
   font-size: 18px;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   justify-content: center;
  }
  .box1{
   /* background: #FFF; */
   background: #ECECEC;
   /* box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 16px;
   
  }
  
  .forgetPass{
   display: flex;
   justify-content: flex-end;
  }
  
  .lasttext{
   text-align: center;
  }
  
  .backgroundtext{
   position: absolute;
   top: 70%;
   left: 15%;
  }
  
  .backgroundtext1{
   color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  
  }
  
  .backgroundtext11{
   color: #FEB135;
   leading-trim: both;
   text-edge: cap;
   font-family: Inter;
   font-size: 44px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: -0.88px;
  }
  
  .backgroundtext2{
   color: #FFF;
   leading-trim: both;
   text-edge: cap;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   letter-spacing: -0.4px;
  }
  
  .uppertext{
   margin-bottom: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
  
  /* FooterLogin */
  
  .footercommontext{
   text-align: center;
   /* display: flex;
   justify-content: center; */
   padding: 30px 0;
   color: #656565;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;
  }
  
  .footertextcommoncolor{
   color: #FEB135;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  }
  
  
  
 /* Forget Password OTP */
 .otpheading{
    /* text-align: center; */
    margin-bottom: -30px;
    color: var(--Primary-Color, #183883);

/* H5 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }


  .otpContent{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .otpheading1{
    font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
  }
  
  /* Mobile Responsive */
  
  @media screen and (max-width:568px){
  
   
  /* Login Container */
  
 
  
  .footercommontext{
   text-align: center;
   /* display: flex;
   justify-content: center; */
   padding: 0px 0 100px 0;
   margin-top: -70px;
   color: #656565;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;
  }
  
  
  
   
  }
  
  .backbutton{
   padding-left: 30px;
   cursor: pointer;
   color: #183883;
  }