
.FundTransfermainpage{
    margin: 3rem;
}

.fundhtransfereader{
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 0px; */
}
.accountsMainHeadingFlex{
    display: flex;
    justify-content:space-between !important;
}
.savingsAccount{
    color: #183883 !important;

    
    font-family: Inter !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 0px; /* 0% */
}
.savingsAccountSubHeading{
    color: #000;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 16px !important;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
padding-top: 1rem;
}

.savingsAccountBalance{
padding-left: 16rem;
padding-top: 0rem;

color: #000;


font-family: Inter !important;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.savingsAccountBalancecColor{
    color: #183883 !important;

   
    font-family: Inter !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400 ;
    line-height: normal;
}
.tableMainBox{
    border-radius: 8px !important;
background: #FFF !important;
box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important   ;
}



.accountsSecondGrid{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15);

}

.iconsTypography{
    color: #000 !important;


font-family: Inter !important;
font-size: 15px !important;
font-style: normal;
font-weight: 400 !important;
line-height: normal;
}
.accountsMarginGrid{
    margin: 2rem !important;
    
  
}
.serviceRequestLinkPadding{
    padding-top: 4.6rem !important;
}
  
.iconImagesPaddingType1{
    padding-left: 9px !important;
}
.iconImagesPaddingType2{
    padding-left: 25px !important;
}