.fundTransferMAinBox {
    border-radius: 20px !important;
    background: #FFF !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) !important;

}

.cardsBox {
    margin-top: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    /* min-height: 87%; */
}

.gridtitle {
    color: #183883;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    margin: 25px 0px 25px 0px;
    /* padding: 10px 0px 10px 15px; */
}

.paymentMainHeading {
    color: var(--Primary-Color, #183883);
    /* H5 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-left: 8px; */
    /* 0% */


}

.noteText {
    color: #323232;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* display: 'flex', justifyContent: 'center', padding: '10px', backgroundColor: 'var(--Card-Color, #F9F9F9)',border:'1px solid var(--Grey-Shade, #ECECEC)' */


.addNewSinglePaymentBG {
  display:flex;justify-content: center;padding: 10px;background-color: var(--Card-Color, #F9F9F9);border: 1px solid var(--Grey-Shade, #ECECEC);border-radius: 5px;margin: 20px 0;
}

.availablebalance{
    text-align: end;
    font-weight: 500;
    margin-top: 8px;
}

.uploadFile{
    vertical-align: auto;
}
.addNewSinglePaymentButton {
    color: var(--Primary-Color, #183883);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    /* width: 100%; */
}

.fundPreviewApplyButton {
    padding-top: 2rem;
}

.paymentPreviewSecondBoxFirstHeading {
    color: #80818D;

    /* Field Lebal */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paymentPreviewSecondBoxSecondHeading {
    color: var(--Text-Main-Color, #505050);

    /* Subtital 2 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






































.mainpagePayment {
    /* width: 84vw; */
    margin: 3rem;
}


.cardsmainpage {
    margin: 2rem;

}

.servicerequestheader {
    margin-bottom: 2%;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    /* 0% */
}

.formbox {
    padding: 5px 10px 0px 15px;
}

/* .noteText {
    color: #323232;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

.tableMainBox {
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 6px 0px rgba(66, 66, 66, 0.15) !important;
    height: 60%;
}

.mainpagePayment {
    /* width: 84vw; */
    margin: 3rem;
}

.maintabbelowheading {
    margin-bottom: 2%;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 0px;  */
}

.maintabbelowheading1 {
    margin-bottom: 2%;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.required {
    color: #ED1C24;

}


.payment1mobileprepaidbutton {
    /* margin-top: 4%; */
    margin: 15px 0px 20px 15px !important;
    display: flex;


}

.widthtfield {
    margin-right: 3%;
}

.frowtext,
.frowtextaff {
    color: #323232;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.gridlowertext {
    margin-top: 10px;
    display: flex;
}

/* Within Bank Preview CSS */


.uppercontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.profileupperheader {
    margin-bottom: 10px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px;  */
}

.profileupperheader1 {
    margin-bottom: 20px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px;  */
}

.uppertitle {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px; */
}

.uppername {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 0px; */
}

.upperupdate {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px; */
}

.css-16x50u-MuiGrid-root>.MuiGrid-item {
    padding-top: 41px !important;
}

.headingMain {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* gap: 15%; */
}

.uploadContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    border-radius: 3px;
    width: 97%;
    cursor: pointer;
}

.buttonFile{
    display: flex;
    justify-content: end;
    gap: 20PX;
}
.balace {
    color: #183883;
}