.container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

 .Sbox{
      display: flex;
      flex-direction: column;
      /* background-color: white; */
      /* background-color: var(--body-background-color); */
      border-radius: 8px;
      /* box-shadow: 0 0 0 0px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
      width: 100%; 
  }

  .heading{
    /* color: #042879; */
    color: #E31E24;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .gridimage{
    margin-top: 15px;
    cursor: pointer;
  }
  
.MidChart {
  padding: 0vw 1vw;
  background: rgb(255, 255, 255);
  margin-top: 1vw;
  height: 30vw;
}

.cardSpace {
  margin-bottom: 2vh;
}

.BottomContainer {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
  flex-wrap: wrap;
  row-gap: 1vw;
  padding-top: 4vh;
  /* height: 30vw; */
}

/* .BottomContainer > div {
  background: white;
  padding: 0.5vw 1vw;
  flex: 1;
} */


.lowergraph{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.atmlowergraph{
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  height: 50px;
  /* padding: 10px 0; */
  position: sticky;
}

.graphs{
  height: 410px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0.5vw 0.5vw;
  flex: 1;
  border-radius: 16px;
background: #FFF;
box-shadow: 0px 7.065px 24.13px -6.182px rgba(3, 29, 53, 0.31);
margin-bottom: 10px;
padding-bottom: 20px;
}

.MiddleContent{
  border-radius: 16px;
background: #FFF;

/* shadow */
box-shadow: 0px 8px 16px -7px rgba(3, 29, 53, 0.11);
padding: 0 10px;
}


.MiddleContenthead{
  color: #E31E24;
font-family: Poppins;
font-size: 17.1px;
font-style: normal;
font-weight: 600;
margin: 20px 0px 0px 20px;
/* line-height: 140%;  */
}
.graphdata{
 /* min-height: 66%; */
 
  /* box-shadow: 0px 7.065px 14.13px -6.182px rgba(3, 29, 53, 0.11); */
  border-radius: 16px;
  height: 350px;
  overflow-y: scroll;
}

.graphinfo{
  display: flex;
  align-items: center;
}

.graphleft{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 2%;
}

.leftuppertitle{
  font-size: 15px;
  font-weight: 500;
}

.leftupperdesc{
font-size: 21px;
font-weight: 600;
}
.radiogroup{
display:flex;
justify-content: center;
font-size: 14px;
margin-top: 10px;
}
.middletext{
  display: flex;
  justify-content: space-between;
 
}

.middle1text{
  color: var(--Green-1, #219653);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 17.309px */
}

.middlelefttext{
  color: var(--Gradients-Red, #E31E24);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 140%; */
}
.middlerighttext{
  color: var(--Gradients-Red, #E31E24);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 140%; */
}

.lowertext{
  font-size: 14px;
}
.DashboardContainer {
  /* display: flex; */
  gap: 1vw;
}

.graphname{
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.graphtitle{
  display:flex;
  justify-content: center;
  color: var(--Gradients-Red, #E31E24);
  font-family: Poppins;
  font-size: 15.189px;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
  }
.atmgraphtitle{
  display:flex;
  justify-content: center;
  color: var(--Gradients-Red, #E31E24);
  font-family: Poppins;
  font-size: 15.189px;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
  }


  .BottomContainerDownload{
    width: 100%;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
  }
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 1vw;
  }

  .MidChart {
    height: 275px;
    margin: 3vw 3vw;
    border-radius: 2vw;
  }

  .BottomContainer {
    display: grid;
    height: auto;
    row-gap: 5vw;
    margin: 5vw 3vw;
  }

  .BottomContainer > div {
    height: 275px;
    border-radius: 2vw;
  }

  .DashboardContainer {
    flex-direction: column;
    gap: 1vw;
    margin: 3vw;
  }
  
  .card {
    padding: 5vw;
  }
  
  .row {
    margin-bottom: 1vw;
  }
  
  .subject, .percentage {
    font-size: 4vw;
  }
  
  .percentage {
    padding: 1vw;
    border-radius: 2vw;
  }
}


.boxs {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  gap: 1.5%;
  flex-wrap: wrap;
  row-gap: 20px;

}

.cardpage {
  display: flex;
  text-align: justify;
  width: 23.3%;
  min-height: 35%;
  padding: 17px 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px !important;
  background: #FFF;
  border: 1px solid #FFF;
  /* light shadow */
  /* box-shadow: 0px 6px 24px 0px rgba(20, 17, 56, 0.12); */
  /* margin: 10px 0px 20px 0; */
  margin-top: 1vh;
/* cursor: pointer; */

}
.cardpagemiddle {
  display: flex;
  text-align: justify;
  width: 32.3%;
  min-height: 35%;
  padding: 17px 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 16px !important;
  background: #FFF;
  border: 1px solid #FFF;
  /* light shadow */
  /* box-shadow: 0px 6px 24px 0px rgba(20, 17, 56, 0.12); */
  /* margin: 10px 0px 20px 0; */
  margin-top: 1vh;


}


.uppericons{
  width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.viewicon{
  cursor: pointer;
}
.boxtitle {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.status{
  /* color: #fff; */
  color: black;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 257.143% */
}

.boxdesc {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 32.5px */
}

.iconboxicon {
  width: 10%;
}


.boxtitlemiddle {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;

}


.boxdescmiddle {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 32.5px */
}

.iconboxiconmiddle {
  width: 10%;
}



.middlecardtop{
  display: flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
}

.cardtop{
  color: #FFF;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14.16px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 20.2px */
letter-spacing: 0.97px;
text-transform: uppercase;
}

.cardstatusmiddle{
  color: #FFF;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 16.16px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 20.2px */
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 1vw;
  }

  .MidChart {
    height: 30vw;
    margin: 3vw 3vw;
    border-radius: 2vw;
  }

  .BottomContainer {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    row-gap: 5vw;
    column-gap: 3vw;
    margin: 5vw 3vw; */
  }

  .BottomContainer > div {
    /* height: 30vw; */
    /* border-radius: 2vw; */
  }

  .DashboardContainer {
    flex-direction: column;
    gap: 1vw;
    /* margin: 3vw; */
  }
  
  .card {
    /* add flex-basis and flex-grow */
    flex-basis: 0;
    flex-grow: 1;
    padding: 3vw;
  }
  
  .row {
    margin-bottom: 1vw;
  }
  
  .subject, .percentage {
    font-size: 2vw;
  }
  
  .percentage {
    padding: 1vw;
    border-radius: 1vw;
  }
  
  /* make bar and radial bar charts stretch to the end of the @media rule */
.bar-chart, .radial-bar-chart {
width: 100%;
height: 100%;
}
}


.refreshIcon{
  margin-left:10px;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  padding:3px;
  padding-right: 0px;
  border: 2px solid grey;
}

.atmofficedesign{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3%;
}

.atmoffliine{
  width: 31%;
  background-color:#F6BDB5;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
}

.dateoffliine{
  color: #000000;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.outofserviceimage{
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.outofservicetext{
  display: flex;
  justify-content: center;
  color: var(--Gradients-Red, #E31E24);
  font-family: Poppins;
  font-size: 15.189px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
}