* {
  font-family: Poppins !important;
/* cursor: default; */
}

.error {
  color: red;
  font-size: 1vw;
  margin: 0.1vw 0.3vw;
}

input{
  box-sizing: border-box !important;
}

p {
  margin-bottom: 0px;
}

.App {
  /* min-height: 100%; */
  /* background: #ecedfa 0 0 no-repeat padding-box; */
  font-family: Poppins !important;
  height: 100vh;

}

.app-container {
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf
}

.main-content {
  /* padding: 1.5vw; */
  display: flex;
  background-color: #f5f6fA !important;
  height: 100%;
  /* margin-left: 4vw; */
  /* margin-top: 4vw; */
}


/* OWL CAROUSEL CSS */

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 55%;
  left: 100px;
}

.owl-carousel .owl-nav button.owl-next {


  position: absolute;
  top: 55%;

  right: 100px
}

.owl-carousel .owl-nav button.owl-next {
  /* padding: 10px !important; */
  border-radius: 10px;
  font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-prev {
  /* padding: 10px !important; */
  border-radius: 10px;
  font-size: 50px !important;
}


.owl-theme .owl-nav [class*='owl-']:hover {
  /* background: #869791; */
  color: #FFF;
  text-decoration: none;
}

#all-slide:hover .owl-nav div.owl-next {
  right: 2%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  opacity: 1;
}

.owl-carousel:hover .owl-buttons {
  display: block;
}


/* React-OTP-Input styling  */

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important; /* Remove default margin */
}

.css-1nrlq1o-MuiFormControl-root {
  padding: 5px 5px 5px 15px !important;
}
/* Hide increment and decrement arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type="number"] {
  -moz-appearance: textfield;
}


/* Textfield between gap */
.css-ry5u11-MuiFormControl-root-MuiTextField-root{
  margin-bottom: -15px !important;
}

/* MUI datatable row padding*/
.css-1ex1afd-MuiTableCell-root {
  padding: 5px !important;
  text-align: center !important;
}
/* MUI DataTable Header Row CSS */

.css-1ygcj2i-MuiTableCell-root{
  background: #F2F2F2 !important;
  padding: -20px !important;

}

/* Mui datatble header height */
.css-1ygcj2i-MuiTableCell-root{
  /* line-height: 3.5rem !important; */
  padding: 10px 0;
} 
.css-1ygcj2i-MuiTableCell-root{
  text-align: center !important;
  padding: 11px !important;
}



/* MUI Datatale row hover css */
.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover{
  background: var(--primary-selected, rgba(33, 150, 243, 0.08)) !important
}

.tss-oeo5eo-MUIDataTableToolbar-filterPaper {
  opacity: 1 !important;
    transform: none !important;
    transition: opacity 371ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 247ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    top: 16px !important;
    left: 445px !important;
    transform-origin: 361.984px 161.417px !important;
}

/* Radiobutton Font*/
.css-ahj2mt-MuiTypography-root{
  /* font-size: 1.5rem !important; */
}
/* OWL CAROUSEL Media Query */

@media only screen and (min-width: 1000px) and (max-width: 1500px) {

  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 55%;
    left: 10px;
  }

  .owl-carousel .owl-nav button.owl-next {


    position: absolute;
    top: 55%;

    right: 10px
  }

}

/* 
@media only screen and (min-width: 1000px) and (max-width:1400px){
  .owl-carousel .owl-nav button.owl-next{
  

    position: absolute !important;
    top: 50%;
    left: 105px !important;
   
  }
} */




/* Divider Styling */
.css-9mgopn-MuiDivider-root {
  border-color: black !important;
  margin: 0 !important;
}

@media only screen and (max-width: 568px) {
  .main-content {
    flex-direction: column;
    height: auto;
  }

  .app-container {
    height: 100vh;
    overflow: scroll;
  }
}

.link {
  color: rgb(105, 48, 202);
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(95, 183, 235);
  color: rgb(255, 255, 255);
  border-radius: 0.7vw;
  font-weight: 600;
  border: none;
  padding: 1vw 1vw;
  cursor: pointer;
  width: fit-content;
  font-size: 1vw;
}

/* NEW PAGINATION */

.new-pagination {
  display: flex;
  list-style-type: none;
  grid-column-gap: 0.1vw;
  width: 100%;
  margin: 1vw 0;
  justify-content: flex-end;
  padding: 0;
}

.new-pagination img {
  height: 1.4vw;
}

.new-pagination a,
.new-pagination a:hover,
.new-pagination a:focus {
  font-size: 0.721vw;
  color: #a3a3a3;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.new-pagination li {
  color: #34435a;
  border-radius: 0.51vw;
  padding: 0.41vw 0.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3vw;
}

.new-pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-pagination .previous,
.new-pagination .next {
  padding: 0;
}

.new-pagination .selected {
  background: #e9f1ff;
  border-radius: 0.51vw;
  padding: 0.41vw 0.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-pagination .selected a {
  color: #34435a;
}

.previous a,
.previous a:focus,
.previous a:hover,
.next a,
.next a:focus,
.next a:hover {
  color: #0e2d61;
}

.previous.disabled a,
.next.disabled a {
  color: #4f4f4f;
}

/* Custom Checkbox */
/* Customize the label (the container) */
.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.FilterDropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcfcfc;
  border-radius: 0.8vw;
  height: 3.175vw;
  width: 10.3vw;
  grid-column-gap: 0.5vw;
  -webkit-column-gap: 0.5vw;
  column-gap: 0.5vw;
  padding: 0 0.8vw;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.926vw;
}



/* table border line */
/* tbody,
td,
tfoot,
th,
thead,
tr {
  text-align: center !important;
  border-color: lightgrey !important;
  border-style: solid !important;
  border-width: 0.5px !important;
  cursor: pointer;
   padding: 3px 8px !important;
} */

.css-18rat2z-MuiTableCell-root.MuiTableCell-head {
text-align: center;
}
/* .css-18rat2z-MuiTableCell-root.MuiTableCell-head{
  background-color: var(--common-background-color) !important;
} */

/* Tab selected element */
/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--common-heading-color) !important;
  font-weight: 600;

} */
 /* Tab inactive element */
/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  color: var(--common-heading-color) !important;
} */


/* Underline Color */
/* .css-11yukd5-MuiTabs-indicator{

  background-color: var(--common-heading-color) !important;
} */

/* Responsive styling for Apex chart labels, tooltips, legends, x-axis labels, and y-axis labels */

/* Mobile styles */
@media only screen and (max-width: 500px) {

  /* Reduce font sizes of all labels and tooltips */
  .apexcharts-text {
    font-size: 3vw !important;
  }

  /* Reduce font sizes of legends */
  .apexcharts-legend {
    font-size: 3vw !important;
  }

  /* Hide x-axis labels */
  .apexcharts-xaxis-label {
    font-size: 3vw !important;
  }

  /* Reduce font sizes of y-axis labels */
  .apexcharts-yaxis-label {
    font-size: 3vw !important;
  }

  .apexcharts-subtitle-text {
    font-size: 3vw !important;
  }
}


/* Pagination */

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.46484375vw;
  margin-bottom: 1.46484375vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.paginationWrapper .paginationCopy {
  padding: 15px;
  box-shadow: 0 0 10px #999;
  border-radius: 10px;
  background-color: #fff;
  line-height: 3;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root {
  border-radius: 100px;
  /* color: #3891E9; */
  color: #AA1313;
  margin: 0 2px !important;
  height: 31px;
  min-width: 31px !important;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root:disabled {
  opacity: 0.6;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root.buttons {
  border-radius: 5px;
  background-color: #CBCCE7;
  color: #363973;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root.active {
  /* background-color: #3891E9; */
  background-color: #AA1313;
  color: #FFF;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root.left {
  background-color: #CBCCE7;
  height: 31px;
  width: 31px;
  margin-left: 0;
}
.paginationWrapper .paginationCopy .MuiButtonBase-root.right {
  background-color: #CBCCE7;
  height: 31px;
  width: 31px;
  margin-right: 0;
}
.paginationWrapper .paginationCopy .count {
  margin-left: 8px;
  font-size: 14px;
  color: #707070;
}


/* Responsive styling for Apex chart labels, tooltips, legends, x-axis labels, and y-axis labels */

/* Mobile styles */
@media only screen and (max-width: 500px) {
  /* Reduce font sizes of all labels and tooltips */
  .apexcharts-text {
    font-size: 3vw !important;
  }

  /* Reduce font sizes of legends */
  .apexcharts-legend {
    font-size: 3vw !important;
  }

  /* Hide x-axis labels */
  .apexcharts-xaxis-label {
    font-size: 3vw !important;
  }

  /* Reduce font sizes of y-axis labels */
  .apexcharts-yaxis-label {
    font-size: 3vw !important;
  }

  .apexcharts-subtitle-text {
    font-size: 3vw !important;
  }
}

/* MUI row selection */

.tss-1dqj55d-MUIDataTableToolbarSelect-root{
  visibility: hidden !important;
}

/* Add this CSS to your stylesheet */
.apexcharts-menu-icon {
  display: none !important;
}


@media (max-width: 899.95px){

.tss-r6c9w6-MUIDataTable-responsiveStacked{
overflow: auto !important;
}
}