.uppercontainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 10px;
    gap: 15%;
}

/* .profilemainpage{
    margin: -24px !important;
} */
.profileupperheader{
    margin: 15px 0;
    color: #183883;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 0px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uppertitle{
    width: 25%;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;

}

.uppername{
    width: 50%;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}

.upperupdate{
    margin-top: 10px;
    margin-bottom: 50px;
    color: #183883;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
/* line-height: 0px; */
}

.dividerstyle{
    font-weight: 600;
    border-color: red;
}

.uupercontet{
    display: flex;
    justify-content: space-between;
}
.changebuttons{
    display: flex;
    gap: 20px;
}